@import url(http://fonts.googleapis.com/css?family=Monda:400,700);

body {
  background: #d4d4d4;
  font-family: 'Monda', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #666;
}

.clear {
  clear: both;
}

.wrapper {
  max-width: 1020px;
  min-width:600;
  margin: 20px auto;
  position: relative;
  border-radius: 10px;
  border: solid 3px #fff;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
  min-height:820px;
}
.container{
  max-width: 1014px;
  overflow: hidden;
  white-space: normal;
  display: block;
  
  position: relative;
  margin:3px;
  min-height: 600px;
}

.top {
  min-height: 100px;
  background: #16DBE8;
  border-radius: 10px 10px 10px 10px;
  
  font-size: 48px;
  font-style: italic;
  font-weight:bold;
  color:#0F809C;
  padding:10px;
}

.footer {
  
  
  background: #e4e4e4;
  border-radius: 0 0 10px 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right:0;
  height: 70px;
 
}


.content{
  font-family: 'Monda', sans-serif;
  border-radius: 10px 10px 10px 10px;
  padding: 20;
  min-height: 580px;
  
  width:70%;
  max-width: 700px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  background: #e4e4e4;
  color: #000;
  overflow: hidden;
  z-index:1;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
}

.navigation {
  font-family: 'Monda', sans-serif;
  font-size: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #0F809C;
  border-radius: 10px 10px 10px 10px;
  border-top: solid 3px #fff;
  border-bottom: solid 3px #fff;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
}

.navigation li {
  float: left;
}

.navigation li:hover {
  background: #104F6E;
  -webkit-border-radius: 10px 10px 10px 10px;
}

.navigation li:first-child {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}

.navigation li a {
  display: block;
  padding: 0 20px;
  text-decoration: none;
  line-height: 40px;
  color: #fff;
}

.navigation ul {
  display: none;
  position: absolute;
  list-style: none;
  margin-left: -3px;
  padding: 0;
  overflow: hidden;
  z-index:2;
}

.navigation ul li {
  float: none;
}

.navigation li:hover > ul {
  display: block;
  background: #0F809C;
  border: solid 3px #fff;
  border-top: 0;
  
  -webkit-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
  
  -webkit-box-shadow:  0px 3px 3px 0px rgba(0, 0, 0, 0.25);
  box-shadow:  0px 3px 3px 0px rgba(0, 0, 0, 0.25);
}

.navigation li:hover > ul li:hover {
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.navigation li li a:hover {
  background: #104F6E;
}

.navigation ul li:last-child a,
.navigation ul li:last-child a:hover {
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.rightColumn{
  font-family: 'Monda', sans-serif;
  border-radius: 10px 10px 10px 10px;
  position: absolute;
  top: 0;
  margin:2;
  right:0;
  min-height: 580px;
  width:30%;
  
  font-size: 14px;
  line-height: 40px;
  font-weight: 700;
  background: #d4d4d4;
  color: #000;

}
.find{
  font-family: 'Monda', sans-serif;
  border-radius: 10px 10px 10px 10px;
  
  
  min-height: 100px;
  
  width:100%;
  
  font-size: 14px;
  line-height: 40px;
  font-weight: 700;
  background: #e4e4e4;
  color:#0F809C;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
}
.rubrics{
  font-family: 'Monda', sans-serif;
  border-radius: 10px 10px 10px 10px;
  text-align:center;
  
  min-height:460px;
  
  width:100%;
  
  
  font-size: 14px;
  line-height: 40px;
  font-weight: 700;
  background: #e4e4e4;
  color: #000;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
  position:absolute;
  bottom:0;
}

#modal{
   height:600px;
   width:600px;
   position: fixed; 
   top: 25%; 
   left: 30%;
   margin-top: -300px;
   margin-left: -300px;
   display: none; 
   opacity: 0; 
   z-index: 4; 
}


#overlay {
	z-index: 3; 
	position: fixed; 
	background-color: #000; 
	opacity: 0.7; 
	width: 100%; 
	height: 100%; 
	top: 0; 
	left: 0; 
	cursor: pointer;
	display: none; 
}
#large {

width: 500px;

height: 500px;

float: left;

margin-top: 10px;

margin-left: 10px;



}

#large img {

width: 500px;

height: 500px;
}

#thumbnail {

width: 140px;

height: 500px;

overflow: auto;

float: left;

list-style: none;
line-height: 110px;
margin-top: 10px;

margin-left: 6px;

_margin-left: 8px;

padding: 5px;

border: 3px solid #0F809C;

background: #fff;

}
#thumbnail img {

width: 110px;

height: 110px;
}

#thumbnail li {

float: left;

width: 110px;

margin: 8px;

_margin: 5px;

}

#thumbnail a {

display: block;

width: 110px;

height: 110px;

padding: 1px;

border: 1px solid #ccc;

}

#thumbnail a:hover {

border-color: #405061;

}

